.messenger-outer{
    margin-top: 1rem;
    width: 100%;
    padding: .5rem 0rem;
    height: 80vh;
}
.show-inner .show-header , .show-inner .show-messages ,.show-inner .form{
    display: none;
}
.messenger-outer .messenger-inner{
    width: 70vw;
    background-color:antiquewhite;
    display: grid;
    grid-template-columns: 25vw 45vw;
    margin: auto;
    height: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
}
.messenger-outer .messenger-inner .people{
    width: 100%;
    padding: .5rem .2rem;
    overflow: hidden;
}
.messenger-outer .messenger-inner .people .people-inner{
    width: 100%;
    display: grid;
    grid-template-rows: 3.5rem auto;
    overflow: hidden;
}
.messenger-outer .messenger-inner .people .people-inner .people-header{
    width: 100%;
    height: 100%;
    padding: .15rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.messenger-outer .messenger-inner .people .people-inner .people-header form{
    width: 100%;
    height: 2.5rem;
    border-radius: 3.2rem;
    background-color: aqua;
    display: grid;
    grid-template-columns: 80% 20%;
}
.messenger-outer .messenger-inner .people .people-inner .people-header form *{
    background:none;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
}
.messenger-outer .messenger-inner .people .people-inner .people-header form i{
    line-height: 2.5rem;
    text-align: center;
}
.messenger-outer .messenger-inner .people .people-inner .people-header form input{
    padding: 0rem 1rem;
    letter-spacing: 1px;
}
.messenger-outer .messenger-inner .people .people-inner .friends{
    overflow: auto;
    height: calc(80vh - 8rem);
}
.messenger-outer .messenger-inner .people .people-inner .friend{
    width: 90%;
    height:3.5rem;
    margin: .2rem 0rem;
    align-items: center;
    display: flex;
    cursor: pointer;
    border-radius: 1rem;
    background-color: azure;
}
.messenger-outer .messenger-inner .people .people-inner .friend:hover{
    background-color: #fafcaa;
}
.messenger-outer .messenger-inner .people .people-inner .friend span{
    display: inline-block;
    margin: 0rem .5rem;
}
.messenger-outer .messenger-inner .people .people-inner .friends .friend span:nth-child(1){
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}
.messenger-outer .messenger-inner .people .people-inner .friend span img{
    width: 100%;
    height: 100%;
}
.messenger-outer .messenger-inner .show{
    width: 100%;
    padding: .7rem .2rem;
}

.messenger-outer .messenger-inner .show .show-inner{
    height: 100%;
    border-left: 1px solid dodgerblue;
    background-color: aliceblue;
    max-width: 100%;
    border-radius: 1rem;
}
.messenger-outer .messenger-inner .show .auth{
    display: grid;
    grid-template-rows: 3.5rem auto 3.5rem;
}
.messenger-outer .messenger-inner .show .auth .show-messages{
    display: flex;
}
.messenger-outer .messenger-inner .show .auth .show-header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}
.show .auth .show-header .user-id{
    height: 100%;
    display: flex;
    align-items: center;
}
.show .auth .show-header .user-id span{
    margin: 0rem .5rem;
}
.show .auth .show-header .user-id span:nth-child(1){
    width: 3.2rem;
    height: 3.2rem;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid dodgerblue;
    overflow: hidden;
}
.show .auth .show-header .user-id span img{
    width: 100%;
    height: 100%;
}
.show .auth .show-header .toggler{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    background-color: aliceblue;
}
.show .auth .show-header .toggler span{
    background-color: aliceblue;
}

.messenger-outer .messenger-inner .show .auth .form{
    width:100%;
    height: 100%;
    padding: .2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid gray;
}
.messenger-outer .messenger-inner .show .auth .form form{
    width: 100%;
    height: 3rem;
    border-radius: 3rem;
    background-color: blanchedalmond;
    display: grid;
    grid-template-columns: 85% 15%;
}
.messenger-outer .messenger-inner .show .auth .form form *{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
}
.messenger-outer .messenger-inner .show .auth .form form i{
    text-align: center;
    line-height: 3rem;
    color: dodgerblue;
    font-size: 1.3rem;
    cursor: pointer;
}
.messenger-outer .messenger-inner .show .auth .form form i:hover{
    color: aqua;
}
.messenger-outer .messenger-inner .show .auth .form form input{
    padding: 0rem 1rem;
    font-size: .9rem;
    letter-spacing: 1px;
}
.messenger-outer .messenger-inner .show .auth .show-messages{
    width: 100%;
    height: 100%;
    padding: .2rem .5rem;
}
.show .auth .show-messages .messages{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.show .auth .show-messages .messages .message{
    width: 100%;
    margin: .4rem 0rem;
    display: flex;
}
.show .auth .show-messages .messages .message p{
    padding: .3rem;
    font-size: .9rem;
    border-radius: 10px;
    max-width: 50%;
}
.show .auth .show-messages .messages .message.message-sent{
    justify-content: flex-start;
}
.show .auth .show-messages .messages .message.message-reciver{
    justify-content: flex-end;
}

.show .auth .show-messages .messages .message.message-sent p{
    background-color: rebeccapurple;
    color: aqua;
}

.show .auth .show-messages .messages .message.message-reciver p{
    background-color: aqua;
    color: rebeccapurple;
}

.chat{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.chat .icon i{
    font-size: 5rem;
    color: aqua;
    text-shadow: 1rem 1rem .8rem #aaa;
}
.chat .chat-text{
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1rem;
    font-weight: 600;
    color: blue;
}
.auth .chat{
    display: none;
}